
html {
  background-color: #282c34;
}

.App {
  padding: 20px 40px;
  margin: 0 auto;
  min-height: 100vh;
  justify-content: center;
  font-size: 16px;
  color: white;
  max-width: 800px;
}

.b {
  font-weight: bold;
  padding-top: 20px;
}

a, a:visited, a:active {
  color: white;
}
